aiohttp==3.7.3
async-timeout==3.0.1
atomicwrites==1.4.0
attrs==20.3.0
chardet==3.0.4
colorama==0.4.4
fastapi==0.63.0
flake8==3.8.4
idna==3.1
importlib-metadata==3.3.0
iniconfig==1.1.1
mccabe==0.6.1
multidict==5.1.0
packaging==20.8
pluggy==0.13.1
py==1.10.0
pycodestyle==2.6.0
pydantic==1.7.3
pyflakes==2.2.0
PyMySQL==1.0.1
pyparsing==2.4.7
pytest==6.2.1
redis==3.5.3
starlette==0.13.6
toml==0.10.2
typing-extensions==3.7.4.3
ujson==4.0.1
yarl==1.6.3
zipp==3.4.0
